html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(135deg, #50B1FF 0%, #1F57D6 100%);
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

/* top */
.top-box {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

/* date */
.top-box .title .current-date {
    color: white;
    margin-right: 20px;
}

/* lunar calendar */
.top-box .title .calendar {
    opacity: .72;
}


/* search box */
.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box .location {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
}

.search-box .location img {
    width: 20px;
    height: 20px;
    margin-right: 7.1px;
}

.search-box .search-city {
    width: 234px;
    height: 32px;
    border: none;
    border-radius: 16px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, .2);
    color: white;
    font-size: 14px;
}

.search {
    position: relative;
}

/* search list */
.search-list {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 40px;
    display: none;
}

.search-list.show {
    display: block;
}

.search-list::-webkit-scrollbar {
    display: none;
}

.search-list li {
    color: black;
    font-size: 14px;
    padding: 15px 10px;
}

.search-list li:hover {
    background-color: lightgray;
}

/* Current Weather */
.weather-box {
    display: flex;
    padding-left: 50px;
    align-items: flex-end;
}

.weather-box .tem-box {
    margin-right: 42px;
    display: flex;
    flex-direction: column;
}

.weather-box .tem-box .temp span {
    font-size: 90px;
    display: inline-block;
    height: 100px;
    margin-bottom: 10px;
    line-height: 100px;
}

.climate-box .air {
    display: inline;
    padding: 5px 10px;
    height: 32px;
    border-radius: 16px;
    background: #65D45A;
    text-align: center;
    line-height: 32px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 500;
}

.climate-box .weather-list {
    display: flex;
    align-items: flex-end;
    margin-top: 21px;
    margin-bottom: 28px;
}

.climate-box .weather-list li img {
    width: 20px;
    height: 20px;
}

.climate-box .weather-list li {
    margin-right: 20px;
}

.climate-box .weather-list li,
.climate-box .weather-list span {
    display: flex;
    align-items: center;
    font-size: 16px;
}